@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-a8z1tz');
	src:url('fonts/icomoon.eot?#iefix-a8z1tz') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-a8z1tz') format('truetype'),
		url('fonts/icomoon.woff?-a8z1tz') format('woff'),
		url('fonts/icomoon.svg?-a8z1tz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-document:before {
	content: "\e600";
}
.icon-folder:before {
	content: "\e601";
}
.icon-heart-outline:before {
	content: "\e602";
}
.icon-zoom-outline:before {
	content: "\e604";
}
.icon-document-add:before {
	content: "\e606";
}
.icon-flow-merge:before {
	content: "\e607";
}
.icon-heart:before {
	content: "\e609";
}
.icon-chevron-right:before {
	content: "\e60b";
}
.icon-arrow-left-thick:before {
	content: "\e60c";
}
.icon-link:before {
	content: "\e60d";
}
.icon-zoom:before {
	content: "\e60e";
}
.icon-plus:before {
	content: "\e60f";
}
.icon-folder-add:before {
	content: "\e603";
}
.icon-close:before {
	content: "\e605";
}
.icon-folder-close:before {
	content: "\e60a";
}
